{{#each surveys as |survey|}}
<div class="show-survey" survey-id="{{survey._id}}">
  <form>
    <fieldset>
      <label>
        <div>{{survey.title}}</div>

        {{#each survey.questions as |question|}}
        <div>{{question.problem}}</div>
        {{/each}}

        <input type="radio" name="surveys[questions][answer][response]" value="true" data-bind="checked:surveys[questions][answer][response], checkedValue: true"/>True
        <input type="radio" name="surveys[questions][answer][response]" value="false" data-bind="checked:surveys[questions][answer][response], checkedValue: false"/>False
      </label>
      <input data-id="{{survey.id}}" class="answer-question" type="submit" name="submit" value="Submit Answer">
    </fieldset>
  </form>
</div>
{{/each}}
