$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$desktop: '(min-width: 1024px)';
$tablet: '(min-width: 481px) and (max-width: 1023px)';
$phone: '(max-width: 480px)';

$accent-color: #4286f4;
$accent-hover: #034cc1;
$button-color: #F44336;
$button-hover: #E53935;
$button-survey: #2DB8AC;
$button-survey-hover: #30C4B7;

@media #{$phone} {
  #wrapper-survey {
    width: 90%!important;
  }

  .create-button {
    margin-top: 20px;
    margin-left: 0px!important;
    width: 100%!important;
    padding: 20px!important;
  }

  .survey-button {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  input {
    border: 1px solid lightblue;
    padding: 10px 3px;
  }

}

body {
  font-size: 16px;
  font-weight: 200;

}

.container-fluid {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

h1 {
    color: grey;
    font-weight: 200;
}

#button-signup-nav {
  background-color: $button-color;
  border-color: transparent;
  width: 130px;
}

#button-signin-nav {
  background-color: $button-color;
  border-color: transparent;
  width: 130px;
}

#button-signout-nav {
  background-color: $button-color;
  border-color: transparent;
  width: 130px;
}

#button-password {
  background-color: $button-color;
  border-color: transparent;
}


#button-signup-nav:hover {
  background-color: $button-hover;
  border-color: transparent;
}

#button-signin-nav:hover {
  background-color: $button-hover;
  border-color: transparent;
}

#button-signout-nav:hover {
  background-color: $button-hover;
  border-color: transparent;
}

#button-password:hover {
  background-color: $button-hover;
  border-color: transparent;
}

.style-button-signout {
  display: none;
}

.style-button-password {
  display: none;
}

.style-modalinside-btn {
  background-color: $button-color;
  border: 3px;
  border-color: transparent;
  color: black;
  height: 35px;
  padding: 0px 0px;
  width: 150px;
}

.style-modalinside-btn:hover {
  background-color: $button-hover;
}

#image {
  background: url('../survey.png') no-repeat;
  background-size: 100% 100%;
  max-width: 512px;
  height: 320px;
  padding-top: 15px;
  margin: 0 auto;
}

#wrapper-survey {
  margin: 0 auto;
  width: 50%;
}

input {
  border: 1px solid lightblue;
  margin-bottom: 5px;
  width: 100%;

}

.survey-id {
  width: 100%;
}

label {
  display: block;
}

.style-form {
  margin-top: 30px;
}

.survey-button {
  background-color: $button-survey;
  border: 3px;
  border-color: transparent;
  color: white;
}

.create-button {
  background-color: #FE5517;
  border: 3px;
  border-color: transparent;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  padding: 10px;
  width: 50%;
}

.survey-button:hover {
  background-color: $button-survey-hover;
}

.create-button:hover {
  background-color: #F65216;
}

.survey-style {
  display: none;
}

.survey-show {
  background-color: #FF9384;
  border: none;
  color: white;
  float: right;
  text-align: center;
  margin-top: 10px;
  padding: 15px 0px;
}

.survey-show:hover {
  background-color: #F44336;
}

.answer-question {
  border: none;
  margin-bottom: 50px;

}

.answer-question:hover {
  background-color: grey;
  color: #fff;
}

#surveys-box {
  padding-bottom: 100px;
}

.questions-style {
  background-color: #F5FBFF;
}

.question-style {
  font-size: 16px;
  font-weight: 600;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 10px;
  background-color: #F5FBFF;
}

.survey-questions {
  background-color: #F5FBFF;
}

.delete-style {
  border: none;
  font-weight: 200;
  margin-bottom: 50px;
}

.delete-style:hover {
  background-color: grey;
  color: #fff;
}

.box-radios {
  width: 100%;
  background-color: #F5FBFF;
}

.col-1 {
  width: 50%;
  float: left;
  padding-bottom: 35px;
  background-color: #F5FBFF;
  padding-left: 10px;
}

.col-2 {
  width: 50%;
  float: left;
  clear: right;
  padding-bottom: 35px;
  background-color: #F5FBFF;
  padding-left: 10px;
}
